/* Estilos para centralizar o loading e adicionar o efeito de rotação */
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
  }
  
  .loading-text {
    font-size: 24px;
    font-weight: bold;
    animation: spin 1s linear infinite;
  }
  
  /* Animação de rotação */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  